<% include ../partials/header %>

<div class="container">


    <header class="jumbotron">
        <h1 class="display-2">Campy Wampy</h1>
        <p class="lead">Reconnect with nature. Find and book the perfect campground. Add your favourite campgrounds so others can find and enjoy them.</p>
        
        <a role="button" class="btn btn-info" href="campgrounds/new">Add new campground</a>
    </header>
    
    
    <div class="row campRow">
        <% campgrounds.forEach(function(campground){%>
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="thumbnail p-0">
                        <img class="campImage" src="<%= campground.image %>"></img>
                    </div>
                    <div class="caption p-2">
                        <h4><%= campground.name %></h4> 
                        <a href="/campgrounds/<%=campground._id%>" class="btn btn-secondary float-left">See details</a>
                    </div>
                    
                    
                </div>
            </div>
            
        <% }); %>
        
    </div>
    
    
</div>

<% include ../partials/footer %>